<br />

<div class="booyah-box col-10 offset-1">
  <h1>Work with Us!</h1>

  <p>
    If you're interested in working for Flixter, send your resume, cover letter, and portfolio to itpsinger@gmail.com
  </p>
</div>